@model PaginationApp.Models.Pagination.PaginationSummaryModel

<div class="w-full w-sm-auto me-sm-auto">
    Showing @(((Model.PageIndex - 1) * Model.PageSize) + 1) to @(((Model.PageIndex - 1) * Model.PageSize) + Model.PageItemsCount)
    of @Model.MatchedRecords matched from total of @Model.TotalRecords records
</div>