@model PaginationApp.Models.Pagination.SortByModel

<div class="w-200px d-inline-flex align-items-center position-relative text-gray-700 dark-text-gray-300">
    <span class="me-1" style="white-space: nowrap;">Sort by</span>
    <select class="form-select d-inline-block box mt-3 mt-sm-0" @*id="sortBy"*@ name="sortBy">
        @foreach (var opt in Model.NameValues)
        {
            if (opt.Key.Equals(Model.DefaultSortBy, StringComparison.InvariantCultureIgnoreCase))
            {
                <option style="white-space: nowrap !important;" selected value="@opt.Value">@opt.Key</option>
            }
            else
            {
                <option style="white-space: nowrap !important;" value="@opt.Value">@opt.Key</option>
            }
        }
    </select>
</div>