<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" data-page="1" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" data-page="1" href="#">1</a></li>
        <li class="page-item"><a class="page-link" data-page="2" href="#">2</a></li>
        <li class="page-item"><a class="page-link" data-page="3" href="#">3</a></li>
        <li class="page-item"><a class="page-link" data-page="3" href="#">Next</a></li>
    </ul>
</nav>